*{
    font-family: Arial;
    box-sizing: border-box;
}
img{
    width: 750px;
    display: block;
    border-radius: 10px;
}
body{
    background-color: #f7f9fc;
}
#sub{
    text-decoration: underline
}
form{
    border: 2px solid gray;
    width: 400px;
    padding: 20px;
    margin: 30px auto;
    border-radius: 2px;
}
.input{
    width: 100%;
    height: 35px;
    padding: 5px;
    margin-bottom: 10px
}
#submit{
    background-color: #2B6CB0;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}
#submit:hover{
    background-color: #1e4f8a;
}